body {
    background: url(../img/eve-bg.jpg) no-repeat;
}

.page-header {
    background: rgba(0,0,0,0.4);
    border-bottom: 1px solid #313f41;
    padding: 30px 40px;
    margin-top: 0;
}

.page-title {
    margin-top: -30px;
    margin-bottom: -10px;
    color: #AFAFAF;
}

.page-title h1 {
    font-size: 54px;
}

.container {
    max-width: 1250px;
}

.introduction {
    border-top: 3px solid #313f41;
    margin-top: -15px;
    margin-bottom: 20px;
}

.introduction .text {
    padding-top: 10px;
    background: rgba(0,0,0,0.4);
    color: #EFEFEF;

}

.icon {
    cursor: pointer;
}

#select-ore {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.small {
    font-size: 11px;
}

.refining-panel {
    background-color: #000;
    border: 1px solid #FFF;
    color: #FFF;
    padding: 1px;
}

.header, .body, .footer {
    overflow: auto;
    border: 1px solid #FFF;
    padding: 2px 8px;
}

.actions {
    padding: 2px 8px;
}

.yield, .skills, .body, .processing-skills {
    overflow: auto;
}

#processing-skills-list {
    max-height: 80px;
    overflow: auto;
}

.yield, .skills, .body, .processing-skills, .ore-select {
    border: 1px solid #DDD;
    padding: 5px;
    background-color: #222;
    font-size: 11px;
}

.yield input, .body input, .footer input {
    border: 1px solid #333;
    padding: 2px;
    background-color: #444;
    width: 40px;
    color: #DDD;
}

.yield input:disabled, .body input:disabled, .footer input:disabled {
    color: #AAA;
}

.div-header {
    background-color: #444;
    border-bottom: 1px solid #999;
    margin: -5px -5px 5px -5px;
    padding: 0 4px;
}

.skills .btn {
    border: 1px solid #FFF;
    padding: 0 4px;
    font-size: 11px;
    border-radius: 0;
    font-weight: normal;
}

.skills .btn:hover {
    border: 1px solid #DDD;
    background-color: #888;
}

.skills .active {
    border: 1px solid #FFF;
    background-color: #222;
}

.skills .filled {
    border: 1px solid #DDD;
    background-color: #888;
}

.list button {
    border-radius: 0;
    padding: 2px 3px;
    background-color: #222;
    font-size: 11px;
    color: #FFF;
}

.list button:hover {
    border: 1px solid #DDD;
    background-color: #888;
}

.list .dropdown-menu {
    min-width: 80px;
    border-radius: 0;
    border: 1px solid #FFF;
    background-color: #444;
    color: #FFF;
}

.list .dropdown-menu li a {
    font-size: 11px;
    color: #FFF;
    padding: 3px 5px;
}

.list .dropdown-menu li a:hover {
    color: #444;
    background-image: linear-gradient(to bottom, #888, #777 100%)
}

.body table th {
    padding: 0 3px;
    font-weight: normal;
}

.body table tr {
    font-color: #FFF;
    border-bottom: 1px solid #FFF;
    font-size: 10px;
}

input.ore-quantity, input.mineral-quantity {
    width: 90px;
}

input.ore-price, input.mineral-price {
    width: 50px;
}

input.ore-total, input.mineral-total {
    width: 120px;
}

input.ore-volume, input.mineral-volume {
    width: 100px;
}

input.ore-rest {
    width: 30px;
}

.body .col-7, .body .col-5, .body .col-6, .body .col-12 {
    padding: 0 3px;
}

.body .icon-info {
    border-radius: 9px;
    padding: 1px 5px;
    background-color: #08C;
    font-size: 12px;
}

.body .table-container {
    min-height: 250px;
    background-color: #444;
    border: 1px solid #888;
}

.footer {
    font-size: 12px;
}

.footer input {
    width: 160px;
    font-size: 12px;
}

.page-footer {
    background: rgba(0,0,0,0.4);
    border-top: 1px solid #313f41;
    padding: 30px 40px;
    margin-top: 20px;
}

.copyright {
    color: #CCC;
    text-align: center;
}

.copy {
    font-size: 9px;
}
